<div class="changelog">
    
    <div class="container">


      <div class="box">    
            <ul>
                ----- Jan 13:
                <li> Fixed starting barracks not being colored in and rotated correctly.</li>
                <li> Buildable area behind both Ancients are now identical.</li>
                <li> Tweaks to map to allow for faster load times.</li>
            </ul>

            <ul>----- Jan 12:
                <li> Massive rework on the core game engine - refactored the entire building library. Big thank you to Noya!</li>
                <li> When placing buildings you will see a more powerful/accurate gridnav - it's not working perfectly yet for the towers and ancients, but it should be flawless otherwise.</li>
                <li> Minimap improved to include trees.</li>
                <li> Fixed bug where the Radiant team had a small vision behind Dire's Ancient.</li>
                <li> Look out for a new buildable structure - we will be introducing that this week.</li>
                <li> We are also hard at work on the ladder and will try to get it out to you by the end of this week!</li>
            </ul>

            <ul>----- Jan 8:
                <li> Russian tooltips updated - thank you str for translating!</li>
                <li> We have a full 16 team bracket ready to go tomorrow! Check out our live coverage at barracksmaster.com. We will also be uploading all videos to the website. Good luck to all the teams and may the best team win!</li>
            </ul>

            <ul>----- Jan 6:
            <li> All spawns now start with a 3sec phase modifier. This should fix the issue of creeps wandering into the side lanes.</li>
            <li> Fixed tooltips bugging out... again.</li>
            <li> Fixed random chance of getting the same hero in each team. Please report if you still see it happening.</li>
            </ul>

            <ul>----- Jan 6:
                <li> A global warning will now appear if the Library of Spells is constructed.</li>
            </ul>

            <ul>----- Jan 5:
                <li> Fixed bug where the Ancient Black Dragon had spell immunity. Ancients should only have 50% magic resistance.</li>
                <li> Improved Snowball: The extra AoE damage has been increased from 60 to 75 and the attackspeed penalty has been removed.</li>
                <li> 4 more days till the tournament! We still have 5 more open slots so please join in - it's free so you have nothing to lose and everything to gain.</li>
            </ul>
        
            <ul>----- Jan 4:
                <li> Unfortunately the new pregame screen has been bugging out so we're rolling back to the default until we can get it fully fixed.</li>
                <li> Map updated! Base and side lanes are now elevated higher.</li>
                <li> There was an exploit where you could block the spawn point with buildings and force creeps to go down the side lanes. This has now been fixed by disabling building in lane.</li>
            </ul>

            <ul>----- Jan 2:
                <li> Happy New Year everyone! And of course... the new year comes with new things!</li>
                <li> Amazing new pregame screen made by Noya!</li>
                <li> Enchanted Mango now available on The Stump.</li>
                <li> Clarities removed.</li>
                <li> Mana cost on Boots of Travel removed.</li>
                <li> Purifier lumber cost increased from 400 to 500.</li>
            </ul>

            <ul>----- Dec 28:
                <li> Assassinate damage increased from 2000 to 5000.</li>
            </ul>

            <ul>----- Dec 27:
                <li> Tree regrowth time increased from 130 to 300sec.</li>
                <li> Techies Scout cooldown increased from 90 to 120sec.</li>
            </ul>

            <ul>----- Dec 25:
                <li> Added new particle effect for building and researching.</li>
                <li> Added new sound when initializing research.</li>
            </ul>

            <ul>----- Dec 25:
                <li> Radiant towers shifted slightly for better symmetry.</li>
                <li> Living armor reworked from 5 damage count to 4 and from 15 to 25sec duration.</li>
                <li> Library of Spells building size reduced slightly.</li>
            </ul>

            <ul>----- Dec 23:
                <li> Secret rune count reduced from 5 to 3.</li>
                <li> Tournament banner added! Thank you Demon Summoner for the artwork!</li>
            </ul>

            <ul>----- Dec 18:
                <li> Static Touch lightning damage reduced from 150 to 120.</li>
                <li> Static Touch lightning decay increased from 10 to 25 percent.</li>
                <li> Bashlord bonus attack speed increased from 15 to 25.</li>
                <li> Corrupted Blade bonus damage increased from 20 to 30.</li>
            </ul>

            <ul>----- Dec 17:
                <li> Replacing Venomancer with Arc Warden.</li>
                <li> Custom boar logic enforced for admins.</li>
            </ul>

            <ul>----- Dec 15:
                <li> Barracks Master Championships Season 2 is now open for registration!</li>
                <li> Air Creeps can now be upgraded with Static Touch.</li>
            </ul>

            <ul>----- Dec 13:
                <li> All gold earned will now be automatically converted to unreliable gold.</li>
                <li> Luminous and Unpromising Tower lumber cost increased from 400 to 600.</li>
                <li> Purifier lumber cost increased from 200 to 400.</li>
                <li> Chaos Meteor and Sun Strike now have their AOE shown in the tooltip.</li>
            </ul>

            <ul>----- Dec 12:
                <li> Air Barracks Evasion upgrade reworked to Evasion Aura. When researched, the Evasion Aura will provide Evasion bonus to units around the air creeps.</li>
            </ul>

            
      </div>
    </div>
</div>