<div class="changelog">
    
    <div class="container">

        <div class="box">    

            <ul>----- Apr 3:
                <li> Slight map tweak: Secret paths are now very obvious.</li>
            </ul>

            <ul>----- Apr 3:
                <li> Russian tooltips and in-game notifications updated. Thank you str!</li>
            </ul>

            <ul>----- Apr 2:
                <li> The new ladder is live! The top 10 should now be showing on the load screen. The site is still work in progress so please bear with us.</li>
                <li> Custom scouts added for the top 3 players last month and str for helping with the Russian translations!</li>
            </ul>

            <ul>----- Mar 31:
                <li> The ranks have now been finalized and ladder will be reset shortly.</li>
                <li> Congratulations to poopoo99, booboo99 and Дворник Коля for coming in the top 3! You will be awarded a custom land scout!</li>
                <li> Once the reset is complete, we will be moving to a new server with a new site. The new site should have real-time ladder update instead of the once daily update.</li>
                <li> Once we move, the ladder will be down temporarily for us to test the system so please bear with us.</li>
                <li> Points calculation have also been reworked: Each game played now gives +3pts, and each win now gives +5pts.</li>
            </ul>

            <ul>----- Mar 27:
                <li> New ability added on Skeleton Barracks: Rise Again.</li>
                <li> Rise Again allows skeleton creeps to reincarnate with a percentage of their original health.</li>
            </ul>

            <ul>----- Mar 24:
                <li> Minimum game time changed from 10mins to 8mins.</li>
            </ul>

            <ul>----- Mar 24:
                <li> English tooltip fix.</li>
            </ul>

            <ul>----- Mar 24:
                <li> Fixed duplicate payload sending per game.</li>
            </ul>

            <ul>----- Mar 22:
                <li> Fixed bug awarding disconnected players BM points. They should receive 0.</li>
            </ul>

            <ul>----- Mar 21:
                <li> End game screen now shows individual points gain instead of team gain.</li>
                <li> Points are also colored in!</li>
                <li> Additional stat collection tweaks.</li>
            </ul>

            <ul>----- Mar 21:
                <li> Stat collection modifications.</li>
                <li> Ladder will reset on March 31st. Prizes will be given to the top 3 players!</li>
            </ul>

            <ul>----- Mar 19:
                <li> End game screen now shows custom scores! Thank you Noya!</li>
                <li> Game engine upgraded as well.</li>
                <li> Custom schema now available on getdotastats.com.</li>
                <li> We now have Dedicated Servers! Thank you Valve!</li>
            </ul>

            <ul>----- Feb 2:
                <li> Arrow Tower range increased from 600 to 650.</li>
            </ul>

            <ul>----- Jan 25:
                <li> Two new abilities added to Arrow Tower: Imbue Fire and Imbue Speed.</li>
            </ul>

            <ul>----- Jan 24:
                <li> Level 3 Evasion Aura bonus improved from 30 to 40 percent.</li>
                <li> Level 3 Evasion Aura cost increased from 550 to 750 gold and 450 to 550 lumber.</li>
            </ul>

            <ul>----- Jan 20:
                <li> Ladder should now be showing the correct points.</li>
                <li> Top 10 now showing on the loadscreen. Thank you Noya!</li>
            </ul>

            <ul>----- Jan 18:
                <li> Arrow Tower build time increased from 7-12sec.</li>
                <li> Arrow Tower now has attack sounds.</li>
                <li> Building gridnav size reduced.</li>
            </ul>

            <ul>----- Jan 18:
                <li> New building added: Arrow Tower.</li>
            </ul>

            <ul>----- Jan 17:
                <li> Ladder is now LIVE! Thank you Bobby Shaftoe!</li>
                <li> Harvest Lumber cooldown decreased from 2.0 to 0.5sec.</li>
            </ul>

            <ul>----- Jan 13:
                <li> Testing APIs for ladder creation.</li>
            </ul>

            <ul>----- Jan 13:
                <li> Fixed starting barracks not being colored in and rotated correctly.</li>
                <li> Buildable area behind both Ancients are now identical.</li>
                <li> Tweaks to map to allow for faster load times.</li>
            </ul>

            <ul>----- Jan 12:
                <li> Massive rework on the core game engine - refactored the entire building library. Big thank you to Noya!</li>
                <li> When placing buildings you will see a more powerful/accurate gridnav - it's not working perfectly yet for the towers and ancients, but it should be flawless otherwise.</li>
                <li> Minimap improved to include trees.</li>
                <li> Fixed bug where the Radiant team had a small vision behind Dire's Ancient.</li>
                <li> Look out for a new buildable structure - we will be introducing that this week.</li>
                <li> We are also hard at work on the ladder and will try to get it out to you by the end of this week!</li>
            </ul>

            <ul>----- Jan 8:
                <li> Russian tooltips updated - thank you str for translating!</li>
                <li> We have a full 16 team bracket ready to go tomorrow! Check out our live coverage at barracksmaster.com. We will also be uploading all videos to the website. Good luck to all the teams and may the best team win!</li>
            </ul>

            <ul>----- Jan 6:
            <li> All spawns now start with a 3sec phase modifier. This should fix the issue of creeps wandering into the side lanes.</li>
            <li> Fixed tooltips bugging out... again.</li>
            <li> Fixed random chance of getting the same hero in each team. Please report if you still see it happening.</li>
            </ul>

            <ul>----- Jan 6:
                <li> A global warning will now appear if the Library of Spells is constructed.</li>
            </ul>

            <ul>----- Jan 5:
                <li> Fixed bug where the Ancient Black Dragon had spell immunity. Ancients should only have 50% magic resistance.</li>
                <li> Improved Snowball: The extra AoE damage has been increased from 60 to 75 and the attackspeed penalty has been removed.</li>
                <li> 4 more days till the tournament! We still have 5 more open slots so please join in - it's free so you have nothing to lose and everything to gain.</li>
            </ul>
        
            <ul>----- Jan 4:
                <li> Unfortunately the new pregame screen has been bugging out so we're rolling back to the default until we can get it fully fixed.</li>
                <li> Map updated! Base and side lanes are now elevated higher.</li>
                <li> There was an exploit where you could block the spawn point with buildings and force creeps to go down the side lanes. This has now been fixed by disabling building in lane.</li>
            </ul>

            <ul>----- Jan 2:
                <li> Happy New Year everyone! And of course... the new year comes with new things!</li>
                <li> Amazing new pregame screen made by Noya!</li>
                <li> Enchanted Mango now available on The Stump.</li>
                <li> Clarities removed.</li>
                <li> Mana cost on Boots of Travel removed.</li>
                <li> Purifier lumber cost increased from 400 to 500.</li>
            </ul>

            <ul>----- Dec 28:
                <li> Assassinate damage increased from 2000 to 5000.</li>
            </ul>

            <ul>----- Dec 27:
                <li> Tree regrowth time increased from 130 to 300sec.</li>
                <li> Techies Scout cooldown increased from 90 to 120sec.</li>
            </ul>

            <ul>----- Dec 25:
                <li> Added new particle effect for building and researching.</li>
                <li> Added new sound when initializing research.</li>
            </ul>

            <ul>----- Dec 25:
                <li> Radiant towers shifted slightly for better symmetry.</li>
                <li> Living armor reworked from 5 damage count to 4 and from 15 to 25sec duration.</li>
                <li> Library of Spells building size reduced slightly.</li>
            </ul>

            <ul>----- Dec 23:
                <li> Secret rune count reduced from 5 to 3.</li>
                <li> Tournament banner added! Thank you Demon Summoner for the artwork!</li>
            </ul>

            <ul>----- Dec 18:
                <li> Static Touch lightning damage reduced from 150 to 120.</li>
                <li> Static Touch lightning decay increased from 10 to 25 percent.</li>
                <li> Bashlord bonus attack speed increased from 15 to 25.</li>
                <li> Corrupted Blade bonus damage increased from 20 to 30.</li>
            </ul>

            <ul>----- Dec 17:
                <li> Replacing Venomancer with Arc Warden.</li>
                <li> Custom boar logic enforced for admins.</li>
            </ul>

            <ul>----- Dec 15:
                <li> Barracks Master Championships Season 2 is now open for registration!</li>
                <li> Air Creeps can now be upgraded with Static Touch.</li>
            </ul>

            <ul>----- Dec 13:
                <li> All gold earned will now be automatically converted to unreliable gold.</li>
                <li> Luminous and Unpromising Tower lumber cost increased from 400 to 600.</li>
                <li> Purifier lumber cost increased from 200 to 400.</li>
                <li> Chaos Meteor and Sun Strike now have their AOE shown in the tooltip.</li>
            </ul>

            <ul>----- Dec 12:
                <li> Air Barracks Evasion upgrade reworked to Evasion Aura. When researched, the Evasion Aura will provide Evasion bonus to units around the air creeps.</li>
            </ul>
        </div>
    </div>
</div>