$color-primary: darken(orange, 5%)
$height-header: 4em
$color-border: rgba(white, 0.3)
$padding-top: 2em

html, body
  font-family: 'Source Sans Pro'
  background: #222
  color: darken(white, 10%)
  font-size: 16px

.navbar
  font-family: 'Montserrat', sans-serif
  padding: 0.5em 0
  border-bottom: 2px solid $color-border
  img
    height: $height-header
  
  ul.nav
    li
      a 
        letter-spacing: 1px
        line-height: 0.6*$height-header 
        color: grey
        padding: 0.8em
        font-size: 1em
      &.active, &.active:hover
        a
          background: transparent
          color: $color-primary

.changelog
  .box  
    padding: $padding-top
    margin: $padding-top auto
    div
      margin: 1em auto
    border: 2px solid $color-border

.live_stream
  padding-top: $padding-top

img.profile
  height: 40px
  width: 40px
  margin: 5px

a
  color: grey
  &:hover
    color: white
    text-decoration: none

#loader
  position: fixed
  top: 50%
  left: 50%
  transform: transform(-50%, -50%)
  z-index: 10
  background-color: rgba(black, 0.6)
  height: 6em
  padding: 1em
  opacity: 0